include *.in
include *.ini
include *.rst
include *.txt
include .gitignore
include LICENSE
recursive-include storagetest *
prune storagetest.egg-info
prune config


global-exclude __pycache__ *.py[cod]
global-exclude *.so *.dylib *.log