bleach==3.2.1
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
coloredlogs==14.0
docutils==0.16
humanfriendly==8.2
idna==2.10
keyring==21.5.0
packaging==20.4
parameterized==0.7.4
pkginfo==1.6.1
prettytable==1.0.1
progressbar==2.5
Pygments==2.7.2
pyparsing==2.4.7
pyreadline==2.1
pywin32-ctypes==0.2.0
readme-renderer==28.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
tqdm==4.51.0
twine==3.2.0
urllib3==1.25.11
wcwidth==0.2.5
webencodings==0.5.1

xlrd~=1.2.0
setuptools~=50.3.2